h1{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    font-family: serif;
}
.des{
   position: relative; 
   top: 40;
   z-index: 1;
   left: 1%;
   min-height: auto;
   max-height: fit-content;
}
::placeholder{
    padding-top: 15px;
    font-size: 15px;
}
.second-div{
    display:flex;
    flex-direction: row;
}
.buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}